---
layout: default
---


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Open Ideas</h1>
      <p class="lead text-muted">share, change, document, hack, improve ideas</p>
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">
      <div class="card-columns">
        {% for idea in site.ideas %}
          <div class="card">
            {% if idea.image and idea.image.small %}
              <img class="card-img-top" src="{{site.baseurl}}/{{site.images_path}}/{{idea.image.small}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <a href="{{site.baseurl}}{{idea.url}}"><h4 class="card-title">{{ idea.title }}</h4></a>
              <p class="card-text">{{ idea.description }}</p>
              <span class="badge badge-secondary {{ idea.state }}">{{ idea.state }}</span>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
