<form action="https://m4kers.us10.list-manage.com/subscribe/post?u=5c34adf9c85700841f7de761f&amp;id=a24535dec3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="modal-body">
  <!-- Begin MailChimp Signup Form -->

  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://m4kers.us10.list-manage.com/subscribe/post?u=5c34adf9c85700841f7de761f&amp;id=a24535dec3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control required" required placeholder="First name" name="FNAME" id="mce-FNAME">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name (optional)" name="LNAME" id="mce-LNAME">
        </div>
      </div>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="email" name="EMAIL" required id="mce-EMAIL" class="form-control required" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="p-2 mt-2">

      <h6>What's do you want to do ? </h6>

      <div class="form-check">
        <label class="form-check-label" for="mce-group[11457]-11457-0">
          <input type="checkbox" class="form-check-input" value="1" name="group[11457][1]" id="mce-group[11457]-11457-0">
          Edit an idea
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="mce-group[11457]-11457-1">
          <input type="checkbox" class="form-check-input" value="1" name="group[11457][1]" id="mce-group[11457]-11457-1">
          Post an idea
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="mce-group[11457]-11457-2">
          <input type="checkbox" class="form-check-input" value="4" name="group[11457][4]" id="mce-group[11457]-11457-2">
          Be involved in <strong>Open Ideas</strong>
        </label>
      </div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c34adf9c85700841f7de761f_a24535dec3" tabindex="-1" value=""></div>
    <div class="clear"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <input type="submit" value="Create an account" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
</div>
</form>
