<!doctype html>
<html lang="en">
<head>
  <title>Open Ideas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
  <script src="https://use.fontawesome.com/faef1289ed.js"></script>
</head>


<body data-gr-c-s-loaded="true">

  <div id="wrap">

    {% include navbar.html %}
    <div id="main">

      <section class="jumbotron jumbotron-fluid text-center" style="{% if page.image %}background-image: url({{site.baseurl}}{{site.images_path}}/{{page.image.large}});  background-size: cover;background-position: center;text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);{% endif %}">
        <div class="container">
            <div class="text-right pb-5">
              <span data-toggle="modal" data-target="#signUpModal">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Copy this idea and modify it!">
                  <i class="fa fa-clone" aria-hidden="true"></i> Clone
                </button>
              </span>
              <span data-toggle="modal" data-target="#signUpModal">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Be notify from updates">
                  <i class="fa fa-eye" aria-hidden="true"></i> Follow
                </button>
              </span>
              <span data-toggle="modal" data-target="#signUpModal">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Support this idea">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Support
                </button>
              </span>
            </div>
            <h1 class="jumbotron-heading {% if page.image %}text-light {% endif %}">{{page.title}}</h1>
            <p class="lead {% if page.image %}text-light {% endif %}">{{page.description}}</p>

        </div>
      </section>

      <div class="container">
        <div class="d-flex">
          <div class="nav flex-column nav-pills mr-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-description-tab" data-toggle="pill" href="#v-pills-description" role="tab" aria-controls="v-pills-description" aria-selected="true">Description</a>
            <a class="nav-link" id="v-pills-business-tab" data-toggle="pill" href="#v-pills-business" role="tab" aria-controls="v-pills-business" aria-selected="false">Business</a>
            <a class="nav-link" id="v-pills-wiki-tab" data-toggle="pill" href="#v-pills-wiki" role="tab" aria-controls="v-pills-wiki" aria-selected="false">Wiki</a>
          </div>
          <div class="tab-content p-3 m-3" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-description" role="tabpanel" aria-labelledby="v-pills-description-tab">
              {{ content }}
              <p class="mt-5">
                <a class="btn btn-dark btn" href="https://github.com/dsmrs/open-ideas/tree/gh-pages/{{ page.path }}"><i class="fa fa-github" aria-hidden="true"></i> Edit this text in Github.</a>
              </p>
            </div>
            <div class="tab-pane fade" id="v-pills-business" role="tabpanel" aria-labelledby="v-pills-business-tab">
              {% if page.business_plan %}
                <div class="">
                  <h3>Downloads:</h3>
                  <a href="{{page.business_plan}}">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                   <strong> Financial plan</strong>
                  </a>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="v-pills-wiki" role="tabpanel" aria-labelledby="v-pills-wiki-tab"><h3>TODO</h3></div>
          </div>
        </div>



      </div>
    </div>
  </div>

    {% include footer.html %}
    {% include modals.html %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
  </script>
</body>
</html>
